<% if (tasks.length > 0) { 
   if( typeof tasks !== "undefined" ){
   for(var i=0; i<tasks.length; i++) {  %>
     <tr>
         <td class="col-md-2"><%= i + 1 %></td>
         <td class="col-md-2"><%= tasks[i].query%></td> 
         <td class="col-md-2"><%= tasks[i]['query_flag']%></td> 
         <td class="col-md-2"><%= tasks[i]['ad_creative']%></td> 
         <td class="col-md-2"><%= tasks[i]['ad_creative_flag']%></td> 
         <td class="col-md-2"><%= tasks[i]['ad_creative_rating']%></td> 
         
         <td class="col-md-1 landing_url_wrap wrap"><a target="_blank" href="<%= tasks[i]['landing_page']%>"><%= tasks[i]['landing_page']%></a></td> 
         <td class="col-md-2"><%= tasks[i]['landing_page_flag']%></td> 
         <td class="col-md-2"><%= tasks[i]['landing_page_rating']%></td> 
         <td class="col-md-2"><%= tasks[i]['user_comments']%></td>
         <td class="col-md-2"><%= tasks[i]['user_name']%> </td>
         <% if ( typeof tasks[i].is_correct =="undefined") { %>
           <td class="col-md-4"><%= "Pending" %></td>
         <% } else { %>
           <td class="col-md-4"><%= tasks[i].is_correct  ? "correct" : "incorrect" %></td>
         <% } %>
         <td class="col-md-2"><%=tasks[i]['verifier_comments']%></td>
         <td><input type="hidden" id="user_role" name="user_role" value="<%=tasks[i]['_id']%>"> </td>
   </tr>
        
 <% } %>
  <tr>
    <td colspan="15">
      <% if (pages > 1) { %>
        <ul class="view_task_pagination">
          <%- createPagination(pages, page, req)%> 
        </ul>
  <% } %>    
    </td>
  </tr>
<% } %>
<% } else { %>
 <tr><td></td><td></td><td></td><td></td><td></td><td></td><td class="col-md-10">No data Found</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<% } %>
