<script>
  var moderators = <%- JSON.stringify(_und.filter(users, function(user){ return _und.contains(user.roles, 'Moderator')})) %>
</script>
<div class="bs-docs-section">
   <div class="row">
      <div class="col-lg-12">
         <div class="page-header col-lg-3">
            <h1 id="user_tables">Users</h1>
         </div>
         <div class="search-users col-lg-3">
            <div class="form-group">
              <label class="control-label" for="inputDefault">Search by Name</label>
              <input type="text" class="form-control" id="searchByName" value="">
            </div>
         </div>
         <div class="new-user col-lg-3">
            <a href="/new-users" class="btn btn-success">Create New User</a>
         </div>
         <div class="col-lg-12 users-hr">
            <hr/>
         </div>
         <div class="bs-component">
            <table class="table table-striped table-hover ">
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>Email</th>
                     <th>Lead</th>
                     <th>Moderator</th>
                     <th>Analyst</th>
                     <th>Choose Moderator</th>
                     <th>Active</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <tbody id="users_list">
                 <% for(var i=0; i<users.length; i++) { %>
                   <tr data-user_id="<%= users[i].id %>" data-moderator_id="<%= users[i].manage_by_user_id %>">
                     <td class="col-md-2"><%= users[i].name %></td>
                     <td class="col-md-3"><%= users[i].email %></td>
                     <td class="col-md-2"><input type="checkbox" class="user_role_updated" data-user_id="<%= users[i].id %>" data-role_name="Lead" <%= _und.contains(users[i].roles, 'Lead') ? 'checked' : ""  %>></td>
                     <td class="col-md-2" ><input type="checkbox" class="user_role_updated" data-user_id="<%= users[i].id %>" data-role_name="Moderator" <%= _und.contains(users[i].roles, 'Moderator') ? 'checked' : "" %>></td>
                     <td class="col-md-2" ><input type="checkbox" class="user_role_updated" data-user_id="<%= users[i].id %>" data-role_name="Analyst" <%= _und.contains(users[i].roles, 'Analyst') ? 'checked' : ""%>></td>
                     <td class="col-md-4 chooseModerator"> </td>
                     <td class="col-md-2" ><input type="checkbox" class="user_role_updated" data-user_id="<%= users[i].id %>" data-role_name="Active" <%= users[i].is_active ? 'checked' : "" %>></td>
                     <td class="col-md-1"><a href="/profile/<%= users[i]._id%>/edit" class="btn btn-success">Edit</a></td>
                   </tr>
                  <% } %>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>